* {
  box-sizing: border-box;
}

.text {
  font-family: 'Assistant', sans-serif;
  color: #434a54;
  font-size: 18px;
}

.font2 {
  font-family: 'Assistant', sans-serif;
}

.text-quote {
  font-family: 'Assistant', sans-serif;
}

.title {
  font-family: 'Teko', sans-serif;
}

.header {
  font-family: 'Assistant', sans-serif;
  font-size: 1.4rem;
  color: #020122;
}

.header2 {
  font-family: 'Assistant', sans-serif;
  font-size: 1.4rem;
  color: #fff;
}

body {
  overflow-x: hidden;
  font-family: 'Assistant', sans-serif;
  color: #434a54;
  font-size: 18px;
}
body h1 {
  font-family: 'Assistant', sans-serif;
}
body h2 {
  font-family: 'Assistant', sans-serif;
}
body h3 {
  font-family: 'Assistant', sans-serif;
}
body h4 {
  font-family: 'Assistant', sans-serif;
}

.navbar .nav-link {
  font-size: 18px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.navbar .nav-item.active {
  border-left: #020122 3px solid;
}
.navbar .navbar-brand {
  font-family: 'Teko', sans-serif;
  font-size: 2rem;
  color: #020122;
}

.image-header {
  color: #020122;
  font-family: 'Teko', sans-serif;
}

.image-header2 {
  color: #fff;
  font-family: 'Teko', sans-serif;
}

.image-text {
  color: #020122;
  font-family: 'Teko', sans-serif;
  font-size: 22px;
}

.image-text2 {
  color: #fff;
  font-family: 'Teko', sans-serif;
  font-size: 22px;
}

.carousel-item {
  height: 55vh;
}

.carousel-image-1 {
  background: linear-gradient(rgba(36, 31, 82, 0.3), rgba(36, 31, 82, 0.3)),
    url('../img/design1.jpg');
  background-size: cover;
}

.carousel-image-2 {
  background: linear-gradient(rgba(36, 31, 82, 0.3), rgba(36, 31, 82, 0.3)),
    url('../img/design2.jpg');
  background-size: cover;
}

.carousel-image-3 {
  background: linear-gradient(rgba(36, 31, 82, 0.3), rgba(36, 31, 82, 0.3)),
    url('../img/design3.jpg');
  background-size: cover;
}

#home-services {
  color: #020122;
}

#background-image {
  position: relative;
  min-height: 170px;
  background: linear-gradient(rgba(36, 31, 82, 0.35), rgba(36, 31, 82, 0.35)),
    url('../img/design5.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}
#background-image .fa-envelope-open {
  color: #fff;
}
#background-image .fa-envelope-open:hover {
  color: #0f7173;
}

#background-image .fa-file-pdf {
  color: #fff;
}
#background-image .fa-file-pdf:hover {
  color: #0f7173;
}

#background-image2 {
  position: relative;
  min-height: 170px;
  background: linear-gradient(rgba(36, 31, 82, 0.35), rgba(36, 31, 82, 0.35)),
    url('../img/design6.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

#home-quote {
  background-color: #020122;
  color: #fff;
  -webkit-animation-name: colorChange;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 7s;
  /* Safari 4.0 - 8.0 */
  animation-name: colorChange;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

#design-quote {
  background-color: #020122;
  color: #fff;
  -webkit-animation-name: colorChange;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 7s;
  /* Safari 4.0 - 8.0 */
  animation-name: colorChange;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#video-play {
  position: relative;
  min-height: 170px;
  background: url('../img/design6.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -100px;
  text-align: center;
  color: #fff;
}
#video-play a {
  color: #fff;
}

#video-play .fa-play {
  color: #fff;
}
#video-play .fa-play:hover {
  color: #0f7173;
}

#page-header {
  height: 50vh;
  background: linear-gradient(rgba(36, 31, 82, 0.3), rgba(36, 31, 82, 0.3)),
    url('../img/design6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

#appreview-header {
  height: 50vh;
  background: linear-gradient(rgba(36, 31, 82, 0.4), rgba(36, 31, 82, 0.4)),
    url('../img/appreview.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

.about-img {
  margin-top: -25%;
  max-width: 90%;
}

.credit {
  font-size: 12px;
}

#circleProcess {
  text-align: right;
}

#journeyIMG {
  width: 80%;
}

.bg-2 {
  background: #020122;
}

#work img {
  margin-top: -50px;
}
#work .card:hover {
  background: #0f7173;
  color: #fff;
}

#card-link:link {
  text-decoration: none;
}

#card-link:hover {
  text-decoration: none;
  color: #fff !important;
}

#card-link {
  color: #434a54;
}

#work .fas {
  color: #fff;
}

.radio-style {
  color: #6c757d;
}

#main-footer {
  background: #0f7173;
  color: #fff;
}

#portfolio_content {
  max-width: 60vw;
  line-height: 1.6;
}

#portfolio_note {
  font-size: 14px;
  font-style: italic;
}

#UI_Evaluation {
  width: 70%;
}

@media (max-width: 780px) {
  #servicesButton {
    width: 100%;
    display: block;
  }
  #portfolio_content {
    max-width: 90vw;
    line-height: 1.6;
  }

  #homeQuote {
    order: 6;
  }

  #page-header {
    background: linear-gradient(rgba(36, 31, 82, 0.3), rgba(36, 31, 82, 0.3)),
      url('../img/design2.jpg');
    background-size: cover;
  }
  #designthinking {
    text-align: center;
  }

  .about-img {
    margin-top: -25%;
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  #circleProcess {
    text-align: center;
  }

  #journeyIMG {
    width: 100%;
  }

  #UI_Evaluation {
    width: 100%;
  }

  .about-img {
    margin-top: -25%;
    max-width: 100%;
  }
  #portfolio_content {
    max-width: 80vw;
    line-height: 1.6;
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes colorChange {
  0% {
    background-color: #0f7173;
  }
  100% {
    background-color: #0a4b4d;
  }
}
/* Standard syntax */
@keyframes colorChange {
  0% {
    background-color: #0f7173;
  }
  100% {
    background-color: #0a4b4d;
  }
}
